# Python-specific files
__pycache__/
*.pyc
*.pyo
*.pyd

# FastAPI-specific files
.env

# IDE-specific files
.vscode/
.pytest_cache/
.idea/
*.iml
*.ipynb
out/

# Dependency files
venv/
.venv/
env/
.env/
lib/
include/
bin/
lib64->

# Log files
*.log
logs/

# Coverage files
coverage.xml
.htmlcov/

# Build files
build/
dist/
*.egg-info/

# Other files
.DS_Store
Thumbs.db
private_key.pem
cert/