name: "Build Container"

on:
  pull_request:
  workflow_dispatch:
  push:
    branches: ["main"]

permissions:
  contents: read

jobs:
  lint:
    name: Lint and format
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
  
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'

      - name: Install Ruff
        run: pip install ruff

      - name: Lint code with Ruff
        run: ruff check --output-format=github
        continue-on-error: true

      - name: Check code formatting with Ruff
        run: ruff format --diff
        continue-on-error: true

  build:
    name: Docker build image
    runs-on: ubuntu-latest
    needs: lint
    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: false
          tags: "container:latest"
          load: true
          outputs: type=docker,dest=/tmp/container-image.tar
      
      - uses: actions/upload-artifact@v4
        if: github.ref == 'refs/heads/main' && github.event_name == 'push'
        with:
          name: container-image
          path: /tmp/container-image.tar


