name: "Build, Test and Release"

on:
  pull_request:
  push:
    branches: ["main"]

permissions:
  id-token: write
  contents: write
  actions: read

env:
  APP_NAME: ${{ vars.APP_NAME }}
  AWS_REGION: ${{ vars.AWS_REGION }}
  ECR_NAMESPACE: ${{ vars.ECR_NAMESPACE }}
  RUN_UNIT_TESTS: ${{ vars.RUN_UNIT_TESTS }}

jobs:
  build:
    name: Build and test container image
    runs-on: ohid-runners
    permissions:
      contents: read
      id-token: write
      actions: read
    environment: dev
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        if: ${{ env.RUN_UNIT_TESTS == 'true' }}
        with:
          python-version: '3.12'
          cache: 'pip'

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
            python-version: '3.12'
  
      - name: Install Ruff
        run: pip install ruff
  
      - name: Lint code with Ruff
        run: ruff check --output-format=github
        continue-on-error: true
  
      - name: Check code formatting with Ruff
        run: ruff format --diff
        continue-on-error: true
  
      - name: Unit tests
        if: ${{ env.RUN_UNIT_TESTS == 'true' }}
        run: |
          python -m pip install --upgrade pip
          python -m pip install --upgrade pip
          pip install -r requirements.txt -r requirements-dev.txt
          make unit-tests

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::${{ secrets.AWS_ACCOUNT_ID_DEV }}:role/${{ secrets.AWS_DEPLOY_ROLE }}
          role-session-name: build-${{ github.sha }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2
        with:
          registries: "${{ secrets.AWS_ACCOUNT_ID_ECR_REGISTRY }}"

      - name: Build container image
        uses: docker/build-push-action@v6
        env:
          ECR_URI: ${{ steps.login-ecr.outputs.registry }}/${{ env.ECR_NAMESPACE }}/${{ env.APP_NAME }}
        with:
          context: .
          push: ${{ github.ref == 'refs/heads/main' && github.event_name == 'push' }}
          tags: ${{ env.ECR_URI }}:${{ github.sha }}
          cache-from: type=registry,ref=${{ env.ECR_URI }}:latest
          cache-to: type=inline


  release:
    name: Tag and release container image
    runs-on: ohid-runners
    if: github.ref == 'refs/heads/main' && github.event_name == 'push'
    environment: dev
    permissions:
      contents: write
      id-token: write
      actions: read
    needs:
        - build
    outputs:
      release_tag: ${{ steps.tag_bump.outputs.new_tag }}
    steps:
      - uses: actions/checkout@v4

      - uses: ukhsa-collaboration/devops-github-actions/.github/actions/github-bump-tag@v0.8.0
        id: tag_bump
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          WITH_V: true

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
            role-to-assume: arn:aws:iam::${{ secrets.AWS_ACCOUNT_ID_DEV }}:role/${{ secrets.AWS_DEPLOY_ROLE }}
            role-session-name: retag-image-${{ github.sha }}
            aws-region: ${{ env.AWS_REGION }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2
        with:
          registries: "${{ secrets.AWS_ACCOUNT_ID_ECR_REGISTRY }}"

      - name: Pull, retag, and push Application image for release
        id: push
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          IMAGE_TAG: ${{ github.sha }}
        run: |
          docker pull $ECR_REGISTRY/$ECR_NAMESPACE/$APP_NAME:$IMAGE_TAG
          docker tag $ECR_REGISTRY/$ECR_NAMESPACE/$APP_NAME:$IMAGE_TAG $ECR_REGISTRY/$ECR_NAMESPACE/$APP_NAME:${{ steps.tag_bump.outputs.new_tag }}
          docker push $ECR_REGISTRY/$ECR_NAMESPACE/$APP_NAME:${{ steps.tag_bump.outputs.new_tag }}

  deploy:
    name: Deploy build to ${{ matrix.environment }}
    runs-on: ohid-runners
    environment: ${{ matrix.environment }}
    strategy:
      max-parallel: 1
      matrix:
        environment: ["dev", "uat", "prd"]
    if: github.ref == 'refs/heads/main' && github.event_name == 'push'
    permissions:
      contents: write
      id-token: write
      actions: read
    env:
        AWS_ACCOUNT_ID: ${{ secrets[format('{0}{1}', 'AWS_ACCOUNT_ID_', matrix.environment)] }}
    needs:
      - release
    steps:
    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
          role-to-assume: arn:aws:iam::${{ env.AWS_ACCOUNT_ID }}:role/${{ secrets.AWS_DEPLOY_ROLE }}
          role-session-name: deploy-${{ github.sha }}
          aws-region: ${{ env.AWS_REGION }}

    - name: Update Parameter Store with new value
      env:
        NEW_TAG: ${{ needs.release.outputs.release_tag }}
      run: |
        aws ssm put-parameter --name "/active10/$APP_NAME/image_tag" --type "String" --value "$NEW_TAG" --overwrite

    - name: Download task definition
      run: |
        aws ecs describe-task-definition --task-definition aw-active10-euw2-${{ matrix.environment }}-ecssvc-$APP_NAME --query taskDefinition > task-definition.json

    - name: Modify Amazon ECS task definition with updated image URI
      id: render-task-def
      uses: aws-actions/amazon-ecs-render-task-definition@v1
      with:
        task-definition: task-definition.json
        container-name: app
        image: ${{ secrets.AWS_ACCOUNT_ID_ECR_REGISTRY }}.dkr.ecr.${{ env.AWS_REGION }}.amazonaws.com/${{ env.ECR_NAMESPACE }}/${{ env.APP_NAME }}:${{ needs.release.outputs.release_tag }}

    - name: Deploy to Amazon ECS
      uses: aws-actions/amazon-ecs-deploy-task-definition@v2
      with:
        task-definition: ${{ steps.render-task-def.outputs.task-definition }}
        service: aw-active10-euw2-${{ matrix.environment }}-ecssvc-${{ env.APP_NAME }}
        cluster: aw-active10-euw2-${{ matrix.environment }}-ecscluster
        wait-for-service-stability: true

    - name: End-to-end tests
      if: ${{ matrix.environment }} != "prd"
      env:
        BASE_URL: "https://${{ steps.url.outputs.prefix }}.example.com"
      run: |
        echo No end-to-end testing in place yet.
        # playwright test

    - name: Post-Deployment Smoke Test
      shell: bash
      run: |
        environment_prefix=${{ matrix.environment }}
        response=$(curl -s -o /dev/null -w "%{http_code}" https://$environment_prefix.active10.betterhealthapps.com/healthcheck/)
        if [ "$response" -ne 200 ]; then
          echo "Post-Deployment tests failed!"
          exit 1
        fi