name: "Build and Test"

env:
  APP_NAME: "active10-backend"

on:
  push:
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    name: Docker build image
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: false
          tags: "${{ env.APP_NAME }}:latest"
          load: true
          outputs: type=docker,dest=/tmp/${{ env.APP_NAME }}.tar

      - name: Unit tests
        run: |
          # TODO: Add unit tests
          echo docker run "$APP_NAME":latest pytest || exit 1
      
      - uses: actions/upload-artifact@v4
        if: github.ref == 'refs/heads/main' && github.event_name == 'push'
        with:
          name: docker-container
          path: /tmp/${{ env.APP_NAME }}.tar


